body{
	background: #c00c0c;
	font-family: Arial;
}
.box{
	width: 800px;
	margin: auto;
	padding: 10px 20px;
	background: white;
	border-radius: 4px;
	border: 1px solid #0f0f0f;
	box-shadow: 5px 5px 20px gray;
}
.textarea{
	margin: 5px;
	padding: 12px 20px;
	width: 95%;
	height: 200px;
	border:1px solid #0f0f0f;
	border-radius: 4px;
	font-size: 16px;
	line-height: 20px;
	resize: none;
}
.button{
	font-size: 16px;
	line-height: 20px;
	margin: 10px;
	padding: 12px 20px;
	background: #c00c0c;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #c00c0c;
	color: #fff;
}
.button:hover{
	background: #a00b0b;
}
#input-code{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}